
/* *{
  border: 1px solid darkgreen;
} */

body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-width: 320px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.8;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #555;
}

h1{
  padding: 0;
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 10rem;
  font-family: 'DinPro-Bold';
  color: #4100E0;
  text-align: center;
}

h2{
  font-size: 5rem;
  font-family: 'DinPro-Bold';
}

h3{
  font-size: 2.7rem;
  font-family: 'DinPro-Bold';
}

h4{
  font-family: 'DinPro-Bold';
  font-size: 1.5rem;
}

h5{
  padding: 0;
}

p{
  font-family: 'DinPro-Light';
}

.page-title p{
  text-align: center;
  /* margin-top: -5%; */
  margin-bottom: 5rem;
}

a {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: #222;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: rgba(34,34,34,0.7);
}
ul,
ol {
  padding: 0 0 0 20px;
}
ul.list-none,
ol.list-none {
  list-style: none;
  padding: 0;
}

body{
  background-color: #F9F6F5;
}

container{
  padding-right: .9375rem;
  padding-left: .9375rem;
  margin-right: auto;
  margin-left: auto;
}

.bottom {
    background-color: #efefef;
    height: 6rem;
    padding-top: 4rem;
    display: flex;
    flex-flow: wrap;
    align-self: center;
    justify-content: center;
}

a.footer-button {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(80,80,80);
    text-decoration: none;
    padding: 1rem;
    max-width: 40rem;
}

a.footer-button:hover {
  color: #243459;
}

.credit {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0rem;
}

@media (max-width: 768px) {
  footer {
    position: relative !important;
  }
}
.logo {
  font-size: 18px;
  line-height: 1em;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 4px;
}
.logo > span {
  position: relative;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  transform-origin: 50% 100%;
}
.logo:hover {
  color: #222;
}
.logo:hover > span {
  transform: rotateY(180deg);
}
.header-fixed .header-wrap {
  position: fixed !important;
}

.header-fixed .header-wrap.no-transparent {
  background-color: #F9F6F5;
}
.header-wrap {
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 555;
  transition: transform 0.35s, opacity 0.35s, background-color 0.35s;
}
.header-wrap .header-container {
  display: table-cell;
  vertical-align: middle;
}
.fixedheader.scroll-down .header-wrap {
  transform: translateY(-85%);
  opacity: 0;
}
.fixedheader.scroll-up:not(.fullscreen-nav-open) .header-wrap:not(.no-transparent) {
  background-color: #fff;
}
.fullscreen-nav-open .header-wrap {
  background-color: transparent !important;
}
.fullscreen-nav-open .logo {
  color: #fff;
}
body:not(.header-fixed) .fullscreen-menu-toggle {
  z-index: 1001;
}
.fullscreen-menu-toggle {
  position: relative;
  float: right;
  margin-right: 5rem;
  color: #222;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.fullscreen-menu-toggle > span {
  position: relative;
  line-height: 1em;
  opacity: 0;
  left: -10px;
  transition: all 0.2s ease-in-out;
}
.fullscreen-menu-toggle > .menu-bars {
  margin-left: 8px;
}

.menu-bars {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0;
  margin-top: -1px;
  vertical-align: middle;
}
.menu-bars > i {
  position: absolute;
  left: 0;
  width: 1em;
  height: 2px;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  background-color: #222;
}
.menu-bars > i:first-child {
  top: 0;
}
.menu-bars > i:nth-child(2) {
  top: 50%;
  margin-top: -1px;
}
.menu-bars > i:last-child {
  top: 100%;
  margin-top: -2px;
}
.menu-bars.active > i:first-child {
  transform: rotate(-135deg);
}
.menu-bars.active > i:nth-child(2) {
  opacity: 0;
}
.menu-bars.active > i:last-child {
  transform: rotate(135deg);
}
.menu-bars.active > i:first-child,
.menu-bars.active > i:last-child {
  top: 0;
  margin-top: 0.333333em;
}
.fullscreen-nav-open .fullscreen-menu-toggle > span {
  color: #fcfcfc;
  transition-delay: 0.4s;
}
.fullscreen-nav-open .fullscreen-menu-toggle > .menu-bars i {
  background-color: #fcfcfc;
}
.fullscreen-nav-open .fullscreen-menu-toggle > span,
.fullscreen-menu-toggle:hover > span {
  opacity: 1;
  left: 0;
}
#fullscreen-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 444;
  background-color: rgba(65, 0, 224, 0.9);
}
#fullscreen-navigation > .inner-wrap {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  text-align: center;
  padding: 50px 0;
  transform: translateY(-50%);
}
#fullscreen-navigation > .inner-wrap > nav > .nav_menu,
#fullscreen-navigation > .inner-wrap > nav > .nav_menu ul {
  margin: 0;
  padding: 0 0 5px 0;
  list-style-type: none;
}
#fullscreen-navigation .nav_menu a {
  display: inline-block;
  padding: 4px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
}
#fullscreen-navigation .nav_menu a:hover {
  color: #fcfcfc;
}
#fullscreen-navigation .nav_menu .sub-menu {
  display: none;
}
#fullscreen-navigation .nav_menu .sub-menu a {
  text-transform: capitalize;
  padding: 2px 0;
  font-size: 12px;
  letter-spacing: 1px;
}
#fullscreen-navigation .nav_menu li.menu-item-has-children > a::after {
  content: '\f107';
  font-family: 'FontAwesome';
  margin-left: 4px;
}
#fullscreen-navigation .nav_menu li.menu-item-has-children > a.sub-active {
  color: #fcfcfc;
}
#fullscreen-navigation .nav_menu li.menu-item-has-children > a.sub-active::after {
  content: '\f106';
}
#fullscreen-navigation li.current-menu-item > a,
#fullscreen-navigation li.current-page-item > a {
  color: #fcfcfc;
}
#fullscreen-navigation .socials {
  margin-top: 25px;
}
#fullscreen-navigation .socials a {
  display: inline-block;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 35px;
  white-space: nowrap;
  color: #777;
}
#fullscreen-navigation .socials a:hover {
  color: #fff;
}


/* ABOUT page main part */

.about-page h1{
  text-align: left;
  margin-top: 5rem;
}

.part1{
  margin-left: 5rem;
}

.part2{
  margin-left: 25rem;
}

.about-main{
  margin-top: 10rem;
  display: flex;
}

.contact-box{
  text-align: left;
  color: #4100E0;
  width: 20%;
  padding: 1rem;
  margin-left: 15%;
  margin-bottom: 5rem;
}

.intro{
  background-color: #4100E0;
  color: white;
  width: 20%;
  padding: 2rem;
  float: right;
  margin: 0 15rem;
  right: 0;
  margin-bottom: 5rem;
}

/* WORK page */

.work-container{
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.collection{
  /* max-width: 60%; */
  /* display: flex; */
  padding: 0rem;
}

.work-1{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 auto;
  padding: 0rem 4rem;
  max-width: 50%;
}

.work-1 .work-img{
  max-width: 30%;
}

.work-2 .work-img{
  max-width: 50%;
}

.work-2{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 0rem 4rem;
  padding-top: 0rem;
  max-width: 70%;
}

.work-1 .block{
  /* box-sizing: border-box; */
  padding: 5px;
  align-items: flex-end;
  justify-content: center;
  width: 250px;
  height: 180px;
  margin: 10px 40px;
  line-height: 60px;
  background-color: #4100E0;
  opacity: 1;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
}

.work-2 .block{
  /* box-sizing: border-box; */
  padding: 5px;
  align-items: flex-end;
  justify-content: center;
  width: 300px;
  height: 180px;
  margin: 10px 40px;
  line-height: 60px;
  background-color: #4100E0;
  opacity: 1;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  padding-left: 0rem;
  float: left;
}

.block a:hover{
  opacity: 0.6;
}

.block p{
  margin-bottom: 1rem;
}

.block i {
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
}

.right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.work-img{
  filter: grayscale();
}

/* REVIVE page */

.revive-heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex；
  justify-content: center;
  align-content: center; */
  letter-spacing: 1px;
  z-index: 10;
  max-width: 80%;
}

.revive-heading h2{
  color: #4100E0;
  /* text-align:center; */
}

.revive-main{
  display: block;
}

.projectPic{
  margin: auto;
  max-width: 50%;
  right:0;
}

.projectContent{
  margin: auto;
  max-width: 70%;
  text-align: left;
}
